{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">

<div class="page-header">
    <h1>ENCUESTA</h1>
</div>
    
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
