<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SEMILLERO PAGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='main.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script src="main.js"></script>
</head>

<body>
    <h2>SEMILLERO LSV</h2>
    <div>
        <h2>MENU</h2>
        <div class="vertical-menu">
            <a href="#" class="active">Home</a>
            <a href="{{url_for('static',filename='contactos.html')}}">Contactos</a>
            <a href="{{url_for('static',filename='about.html')}}">About</a>
        </div>
    </div>
</body>

</html>